# iris project -classification

## 1 problem statment

In [1]:
 #predict classification of iris flower

In [2]:
import pandas as pd
import numpy as np

from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split,RandomizedSearchCV
from sklearn.metrics import confusion_matrix,classification_report

from sklearn.datasets import load_iris

In [3]:
#2.Data Gadhering

In [4]:
ir=load_iris()

In [5]:
df=pd.DataFrame(ir.data,columns=ir.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [6]:
x=df

In [7]:
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [8]:
y=pd.DataFrame(ir.target)
y

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [11]:
x_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
58                 6.6               2.9                4.6               1.3
97                 6.2               2.9                4.3               1.3
129                7.2               3.0                5.8               1.6
114                5.8               2.8                5.1               2.4
146                6.3               2.5                5.0               1.9
..                 ...               ...                ...               ...
113                5.7               2.5                5.0               2.0
64                 5.6               2.9                3.6               1.3
15                 5.7               4.4                1.5               0.4
125                7.2               3.2                6.0               1.8
9                  4.9               3.1                1.5               0.1

[120 rows x 4 columns]